[Unit]
Description="Sweet Dreams (MagicMirror)"
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/env npm run server
WorkingDirectory=/path/to/MagicMirror/
Environment=PATH=/path/to/nvm/versions/node/vXX.X.X/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
User=www-data
Restart=on-failure

StandardOutput=append:/var/log/sweet-dreams.log
StandardError=append:/var/log/sweet-dreams.log

[Install]
WantedBy=multi-user.target
